@media (min-width: 600px) {
  .title-card {
    padding-top: 10px;
    height: 30px;
  }

  .champion-card-div {
    margin-top: 60px;
  }

  .champion-card {
    width: 250px;
    height: 300px;
  }

  .champion-text {
    width: 200px;
    margin-bottom: 10px;
  }

  .champion-img {
    width: 100px;
  }

  .sidebar-card {
    width: 250px;
    height: 50px;
  }

  .side-bar-content {
    margin-top: 5px;
    width: 250px;
    height: 50px;
    margin-top: 0;
  }

  .side-bar-text {
    width: 220px;
    margin-top: 30px;
  }

  .sidebar-position {
    float: left;
    width: 30px;
    height: 50px;
    margin-left: 5px;
    padding-top: 12px;
  }

  .sidebar-info {
    float: left;
    height: 50px;
    width: 200px;
  }

  .sidebar-info-top {
    float: left;
    margin-top: 3px;
    width: 160px;
    height: 20px;
  }

  .sidebar-info-bottom {
    float: left;
    width: 160px;
    height: 20px;
  }

  .sidebar-info-points {
    float: right;
    margin-right: 10px;
    margin-top: 12px;
    width: 30px;
    height: 50px;
  }
}
